[Desktop Entry]
Encoding=UTF-8
Name=Abuse
Name[pl]=Abuse
Comment=Abuse Game
Comment[pl]=Gra Abuse
Icon=abuse.png
Exec=abuse.sdl
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
