[Desktop Entry]
Name=Abuse
Name[pl]=Abuse
Comment=Abuse Game
Comment[pl]=Gra Abuse
Icon=abuse.png
Exec=abuse.sdl
Terminal=false
Type=Application

# vi: encoding=utf-8
