[Desktop Entry]
Name=Abuse
Name[pl]=Abuse
Comment=Abuse Game
Comment[pl]=Gra Abuse
Icon=abuse.png
Exec=abuse_sdl
Terminal=0
Type=Application

# vi: encoding=utf-8
